.main-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90rem;
  height: 68.3125rem;
  flex-shrink: 0;
  }
.main-page .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 3718px;
  position: relative;
}
.main-page .div-wrapper {
  position: relative;
  width: 162px;
  height: 44px;
  top: -1px;
  left: -1px;
  background-color: #C271FF;
  border-radius: 22px;
  flex-shrink: 0;
}
.main-page .main-section {
  background-color: #f80404;;
  overflow: hidden;
  width: 1440px;
  height: 3718px;
  position: relative;
}

.main-page .background-container {
  width: 1448.15px;
  height: 1055px;
  flex-shrink: 0;
  background: radial-gradient(ellipse at center, rgba(41, 48, 61, 0.00) 0%, #071629 100%), url(img/lady_laugh.png) lightgray 0px 0px / 100% 100% no-repeat;
  position: absolute;
  background-blend-mode:luminosity;
  top: 0;
  left: 0;
  z-index: 0; /* Move the background container behind other elements NEAT!! */
  opacity: 0.7; /* Adjust the opacity as needed */
}

.main-page .header {
  position: absolute;
  width: 1103px;
  height: 29px;
  top: 35px;
  left: 172px;
  background-color: transparent;
  
}
.main-page .menu {
  position: absolute;
  width: 234px;
  height: 15px;
  top: 2px;
  left: 869px;
}
.main-page .logo-smile-school {
  position: absolute;
  width: 167px;
  height: 29px;
  top: 0;
  left: 0;
}
.main-page .smile-school {
  position: absolute;
  width: 112px;
  height: 13px;
  top: 7px;
  left: 55px;
}

.main-page .courses-wrapper {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "Source Sans Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .pricing-wrapper {
  position: absolute;
  top: -1px;
  left: 102px;
  font-family: "Source Sans Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .login-wrapper {
  position: absolute;
  top: -1px;
  left: 200px;
  font-family: "Source Sans Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .main-part {
  position: absolute;
  width: 1440px;
  height: 1093px;
  top: 0;
  left: 0;
  background-image: url(./img/background.png);
  background-size: 100% 100%;
}

.main-page .get-schooled {
  position: absolute;
  width: 684px;
  height: 161px;
  top: 219px;
  left: 377px;
}

.main-page .text-wrapper-get-schooled {
  position: absolute;
  font-family: "Source Sans Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 120px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-page .text-wrapper-smiles {
  position: absolute;
  top: 141px;
  left: 216px;
  font-family: "Source Sans Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .text-wrapper-grin {
  position: absolute;
  top: 141px;
  left: 327px;
  font-family: "Source Sans Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .text-wrapper-laugh {
  position: absolute;
  top: 141px;
  left: 420px;
  font-family: "Source Sans Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .button-register {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 162px;
  height: 44px;
  top: 419px;
  left: 639px;
  overflow: hidden;
}

.main-page .text-wrapper-register {
  letter-spacing: 0;
  white-space: nowrap;
  color: #FFF;
  font-family: "Source Sans Pro-Regular", Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
  height: 100%; /* Set height to 100% for vertical centering */
}

.main-page .learn-from-the-pros {
  position: absolute;
  top: 630px;
  left: 604px;
  font-family: "Source Sans Pro-Bold", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .purpleword {
  color: #C271FF;
  text-align: center;
  font-family: "Source Sans Pro-Light", Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main-page .nospacebreak {
  font-weight: 700;
  color: #ffffff;
}

.main-page .message {
  color: #FFF;
  font-family: "Source Sans Pro";
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}


.main-page .prosmiles {
  position: absolute;
  width: 1009px;
  height: 237px;
  top: 758px;
  left: 217px;
  flex-shrink: 0;
}

.main-page .prosmiler1 {
  position: absolute;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  top: 0;
  left: 859px;
}

.main-page .prosmiler2 {
  position: absolute;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  top: 0;
  left: 570px;
}

.main-page .prosmiler3 {
  position: absolute;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  top: 0;
  left: 289px;
}

.main-page .prosmiler4 {
  position: absolute;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  top: 0;
  left: 0;
}

.main-page .smilers {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  overflow: hidden;
}

.main-page .smilername {
  position: absolute;
  width: 150px;
  top: 159px;
  left: 0;
  font-weight: 900;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27px;
  text-align: center;
  font-family: "Source Sans Pro";
  font-style: normal;
  line-height: 27px; /* 150% */
}

.main-page .smileraward {
  position: absolute;
  width: 150px;
  top: 188px;
  left: 0;
  font-family: "Source Sans Pro-Italic", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0;
  font-size: 1rem;
  line-height: 1.5rem; /* 150% */
  }


  .main-page .part-testimonials {
    position: absolute;
    width: 1440px;
    height: 392px;
    top: 1093px;
    left: -1px;
  }
  
  .main-page .testimonial-wrapper {
    position: relative;
    width: 1439px;
    height: 392px;
    left: 1px;
    background-image: url(./img/background.svg);
    background-size: 100% 100%;
  }
  
  .main-page .testimonial {
    position: relative;
    width: 943px;
    height: 160px;
    top: 108px;
    left: 259px;
  }
  .main-page .avatar-2 {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    overflow: hidden;
  }
  .main-page .text {
    position: absolute;
    width: 730px;
    height: 158px;
    top: 2px;
    left: 213px;
  }
  .main-page .text-wrapper-15 {
    position: absolute;
    top: 123px;
    left: 0;
    font-family: "Source Sans Pro-Italic", Helvetica;
    font-weight: 400;
    font-style: italic;
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 0;
    line-height: 33.6px;
    white-space: nowrap;
  }
  .main-page .text-wrapper-16 {
    position: absolute;
    top: 89px;
    left: 0;
    font-family: "Source Sans Pro-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 0;
    line-height: 33.6px;
    white-space: nowrap;
  }
  .main-page .those-tutorials-ar {
    position: absolute;
    width: 730px;
    top: -1px;
    left: 0;
    font-family: "Source Sans Pro-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 0;
    line-height: 33.6px;
  }

.main-page .testimonials {
  position: relative;
  width: 1440px;
  height: 392px;
  flex-shrink: 0;
  top: 1093px;
  left: -1px;
  flex-shrink: 0;
  display: flex;
}

.main-page .testimonial-wrapper {
  position: relative;
  width: 1440px;
  height: 392px;
  flex-shrink: 0;
  left: -1px;
  right: -1px;
  background-size: 100% 100%;
  background-color: #C271FF;
}


.main-page .tutorials-section {
  position: absolute;
  width: 1228px;
  height: 450px;
  top: 1572px;
  left: 106px;
}

.main-page .most-pop-tutorial {
  position: absolute;
  top: -1px;
  left: 482px;
  font-family: "Source Sans Pro-Light", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.main-page .regulartext {
  font-weight: 300;
  color: #071629;
}

.main-page .purp-mid-text {
  font-family: "Source Sans Pro-Bold", Helvetica;
  font-weight: 700;
  color: #c170ff;
}

.main-page .white-mid-text {
  font-family: "Source Sans Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
}



.main-page .part-free-membership {
  position: absolute;
  width: 1440px;
  height: 502px;
  top: 2109px;
  left: 0;
  background-image: url(./img/background-2.svg);
  background-size: 100% 100%;
  background-color: black;
}

.main-page .free-membership {
  position: absolute;
  top: 69px;
  left: 617px;
  font-family: "Source Sans Pro-Bold", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  background-color: black;
}

.main-page .span {
  font-weight: 700;
  color: #c170ff;
}

.main-page .white-mid-text {
  font-weight: 700;
  color: #ffffff;
}

.main-page .white-lg-text {
  font-family: "Source Sans Pro-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  background-color: black;
}

.main-page .button {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 162px;
  height: 44px;
  top: 406px;
  left: 639px;
  overflow: hidden;
  box-shadow: 0px 2px 20px #00000080;
}







.main-page .tuto {
  position: absolute;
  width: 255px;
  height: 335px;
  top: 115px;
  left: 58px;
  overflow: hidden;
}

.main-page .overlap-group-2 {
  position: relative;
  width: 257px;
  height: 337px;
  top: -1px;
  left: -1px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 4px #0716292d;
  background-image: 200% 200%;
}

.main-page .avatar {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  overflow: hidden;
}

.main-page .text-wrapper-12 {
  position: absolute;
  top: 263px;
  left: 57px;
  font-family: "Source Sans Pro-Semibold", Helvetica;
  font-weight: 400;
  color: #c170ff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.main-page .text-wrapper-13 {
  position: absolute;
  top: 297px;
  left: 200px;
  font-family: "Source Sans Pro-Semibold", Helvetica;
  font-weight: 400;
  color: #c170ff;
  font-size: 14px;
  text-align: right;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.main-page .rating {
  position: absolute;
  width: 107px;
  height: 15px;
  top: 306px;
  left: 14px;
}

.main-page .lorem-ipsum-dolor-si-4 {
  width: 242px;
  top: 200px;
  left: 14px;
  color: #07162980;
  line-height: 24px;
  position: absolute;
  font-family: "Source Sans Pro-Regular", Helvetica;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
}

.main-page .text-wrapper-14 {
  position: absolute;
  top: 172px;
  left: 14px;
  font-family: "Source Sans Pro-Bold", Helvetica;
  font-weight: 700;
  color: #071629;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}


.main-page .play {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 45px;
  left: 96px;
  
}















.main-page .part-tutorials {
  position: absolute;
  width: 1228px;
  height: 450px;
  top: 1572px;
  left: 106px;
}

.main-page .most-popular-tutoria {
  position: absolute;
  top: -1px;
  left: 482px;
  font-family: "Source Sans Pro-Light", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .text-wrapper-9 {
  font-weight: 300;
  color: #071629;
}

.main-page .text-wrapper-10 {
  font-family: "Source Sans Pro-Bold", Helvetica;
  font-weight: 700;
  color: #c170ff;
}

.main-page .text-wrapper-11 {
  font-family: "Source Sans Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
}

.main-page .tuto {
  position: absolute;
  width: 255px;
  height: 335px;
  top: 115px;
  left: 58px;
  overflow: hidden;
}

.main-page .overlap-group-2 {
  position: relative;
  width: 257px;
  height: 337px;
  top: -1px;
  left: -1px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 4px #0716292d;
}

.main-page .avatar {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 262px;
  left: 14px;
}

.main-page .text-wrapper-12 {
  position: absolute;
  top: 263px;
  left: 57px;
  font-family: "Source Sans Pro-Semibold", Helvetica;
  font-weight: 400;
  color: #c170ff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.main-page .text-wrapper-13 {
  position: absolute;
  top: 297px;
  left: 200px;
  font-family: "Source Sans Pro-Semibold", Helvetica;
  font-weight: 400;
  color: #c170ff;
  font-size: 14px;
  text-align: right;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.main-page .rating {
  position: absolute;
  width: 107px;
  height: 15px;
  top: 306px;
  left: 14px;
}

.main-page .lorem-ipsum-dolor-si-4 {
  width: 242px;
  top: 200px;
  left: 14px;
  color: #07162980;
  line-height: 24px;
  position: absolute;
  font-family: "Source Sans Pro-Regular", Helvetica;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
}

.main-page .text-wrapper-14 {
  position: absolute;
  top: 172px;
  left: 14px;
  font-family: "Source Sans Pro-Bold", Helvetica;
  font-weight: 700;
  color: #071629;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .overlaps {
  position: absolute;
  width: 821px;
  height: 1232px;
  flex-shrink: 0;
  top: 1px;
  left: 1px;
  background-image: url(./img/play.png);
  background-size: 100% 100%;
}

.main-page .overlap {
  position: absolute;
  width: 255px;
  height: 154px;
  top: 1px;
  left: 1px;
  background-image: url(./img/play.png);
  background-size: 100% 100%;
}

.main-page .img-wrapper {
  position: absolute;
  width: 255px;
  height: 154px;
  top: 1px;
  left: 1px;
  background-image: url(./img/play.png);
  background-size: 100% 100%;
}

.main-page .overlap-group-3 img.play {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-page .play-wrapper img.play {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-page .overlap img.play {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  object-fit: cover;
}

.main-page .img-wrapper img.play {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.main-page .play-wrapper {
  position: absolute;
  width: 255px;
  height: 154px;
  top: 1px;
  left: 1px;
  background-image: url(./img/play.png);
  background-size: 100% 100%;
}

.main-page .overlap-group-3 {
  position: absolute;
  width: 255px;
  height: 154px;
  top: 1px;
  left: 1px;
  background-image: url(./img/play.png);
  background-size: 100% 100%;
}

.main-page .play {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 45px;
  left: 96px;
}

.main-page .overlap-wrapper {
  position: absolute;
  width: 255px;
  height: 335px;
  top: 115px;
  left: 344px;
  overflow: hidden;
}

.main-page .overlap-group-wrapper {
  position: absolute;
  width: 255px;
  height: 335px;
  top: 115px;
  left: 629px;
  overflow: hidden;
}
.main-page .tuto-2 {
  position: absolute;
  width: 255px;
  height: 335px;
  top: 115px;
  left: 914px;
  overflow: hidden;
}
.main-page .tuto-right {
position: absolute;
width: 255px;
height: 335px;
top: 115px;
right: 58px;
overflow: hidden;
}



.main-page .dot {
  position: absolute;
  width: 257px;
  height: 153px;
  top: 168px;
  left: 164px;
}

.main-page .p {
  width: 212px;
  top: 100px;
  left: 22px;
  color: #ffffff;
  text-align: center;
  line-height: 26px;
  position: absolute;
  font-family: "Source Sans Pro-Regular", Helvetica;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
}

.main-page .text-wrapper-8 {
  position: absolute;
  width: 256px;
  top: 61px;
  left: 0;
  font-family: "Source Sans Pro-Semibold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26px;
}

.main-page .img {
  position: absolute;
  width: 44px;
  height: 35px;
  top: 0;
  left: 107px;
}
.main-page .dot-2 {
  position: absolute;
  width: 257px;
  height: 153px;
  top: 168px;
  left: 448px;
}

.main-page .lorem-ipsum-dolor-si-2 {
  width: 221px;
  top: 100px;
  left: 18px;
  color: #ffffff;
  text-align: center;
  line-height: 26px;
  position: absolute;
  font-family: "Source Sans Pro-Regular", Helvetica;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
}

.main-page .dot-3 {
  position: absolute;
  width: 257px;
  height: 153px;
  top: 168px;
  left: 733px;
}

.main-page .lorem-ipsum-dolor-si-3 {
  width: 215px;
  top: 100px;
  left: 21px;
  color: #ffffff;
  text-align: center;
  line-height: 26px;
  position: absolute;
  font-family: "Source Sans Pro-Regular", Helvetica;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
}

.main-page .dot-4 {
  position: absolute;
  width: 257px;
  height: 153px;
  top: 168px;
  left: 1019px;
}








.main-page .part-FAQ {
  position: absolute;
  width: 920px;
  height: 707px;
  top: 2678px;
  left: 249px;
}

.main-page .faq-wrapper {
  position: absolute;
  top: -1px;
  left: 407px;
  font-family: "Source Sans Pro-Light", Helvetica;
  font-weight: 300;
  color: #071629;
  font-size: 60px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .faq {
  position: absolute;
  width: 350px;
  height: 242px;
  top: 149px;
  left: 0;
}

.main-page .faq1 {
  position: absolute;
  width: 350px;
  height: 242px;
  top: 465px;
  left: 0;
}

.main-page .faq2 {
  position: absolute;
  width: 350px;
  height: 242px;
  top: 149px;
  left: 570px;
}

.main-page .faq3 {
  position: absolute;
  width: 350px;
  height: 242px;
  top: 465px;
  left: 570px;
}

.main-page .lorem-ipsum-dolor-si {
  position: absolute;
  width: 350px;
  top: 49px;
  left: 0;
  font-family: "Source Sans Pro-Regular", Helvetica;
  font-weight: 400;
  color: #07162980;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
}

.main-page .how-wrapper {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "Source Sans Pro-Bold", Helvetica;
  font-weight: 700;
  color: #071629;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .logo {
  position: absolute;
  width: 169px;
  height: 30px;
  top: 96px;
  left: 166px;
}

.main-page .text-wrapper {
  position: absolute;
  top: 5px;
  left: 55px;
  font-family: "Coiny-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-page .smile {
  position: absolute;
  width: 36px;
  height: 29px;
  top: 0;
  left: 1px;
}